body {
  text-align: center;
  font-family: sans-serif;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
}

.cell-inner {
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  box-sizing: border-box;
}

.cell.selected .cell-inner {
  border-color: orange;
  background-color: rgba(255, 165, 0, 0.2);
}